.hero {
  padding-top: 60px;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .image {
    position: relative;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    background-color: #fff;
  }
  .vertical-text{
    font-family: Optima;
    transform-origin: center left;
    transform: rotate(90deg);
    position: absolute;
    color: #fff;
    mix-blend-mode: multiply;
    font-weight: bold;
    font-size: 84px;
    line-height: 102px;
    letter-spacing: 0.04em;
    text-shadow: rgba(180, 120, 105, 0.62) 1px 1px 0, rgba(180, 120, 105, 0.62) -1px -1px 0, 
    rgba(180, 120, 105, 0.62) -1px 1px 0, rgba(180, 120, 105, 0.62) 1px -1px 0;
   }

  .image img {
    border-radius: 5px;
  }
  .content {
    padding-left: 150px;
    .head {
      padding-bottom: 80px;
      h1 {
        font-weight: 500;
        font-size: 35px;
        line-height: 46px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        padding-bottom: 18px;
      }

      h2 {
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        color: #949494;
      }
    }

    .services {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      
      li {
        display: block;
        width: 50%;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.06em;
        margin-bottom: 25px;
      }
    }
    .contacts{
      padding-top: 60px;
      
      .telegram-link{
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.06em;
        color: #003399;
        margin-left: 40px;
        img {
          margin-right: 15px;
        }
      }
    }
    button {
      
      display: inline-block;
      border: none;
      padding: 20px 80px;
      margin: 0;
      outline: none;
      color: #F3F3F3;
      font-weight: 500;
      border-radius: 5px;
      font-size: 18px;
      background: url("./assets/pattern.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      box-shadow: 0px 0px 20px rgba(181, 122, 106, 0.29);
    }
  }
}